grammar tests/JavaGrammar/resulte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="compilationUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="typeDeclaration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="classDeclaration">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="normalClassDeclaration">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="t" type="xs:string" />
                          <xs:element name="classBody">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element name="t" type="xs:string" />
                                  <xs:element name="classBodyDeclaration">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="classMemberDeclaration">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element minOccurs="0" name="fieldDeclaration">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="unannType">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="unannPrimitiveType">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element name="numericType">
                                                                  <xs:complexType>
                                                                    <xs:sequence>
                                                                      <xs:element name="integralType">
                                                                        <xs:complexType>
                                                                          <xs:sequence>
                                                                            <xs:element name="t" type="xs:string" />
                                                                          </xs:sequence>
                                                                        </xs:complexType>
                                                                      </xs:element>
                                                                    </xs:sequence>
                                                                  </xs:complexType>
                                                                </xs:element>
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="variableDeclaratorList">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="variableDeclarator">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element name="variableDeclaratorId">
                                                                  <xs:complexType>
                                                                    <xs:sequence>
                                                                      <xs:element name="t" type="xs:string" />
                                                                    </xs:sequence>
                                                                  </xs:complexType>
                                                                </xs:element>
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="t" type="xs:string" />
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element minOccurs="0" name="methodDeclaration">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="methodHeader">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="result">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element minOccurs="0" name="unannType">
                                                                  <xs:complexType>
                                                                    <xs:sequence>
                                                                      <xs:element name="unannPrimitiveType">
                                                                        <xs:complexType>
                                                                          <xs:sequence>
                                                                            <xs:element name="numericType">
                                                                              <xs:complexType>
                                                                                <xs:sequence>
                                                                                  <xs:element name="integralType">
                                                                                    <xs:complexType>
                                                                                      <xs:sequence>
                                                                                        <xs:element name="t" type="xs:string" />
                                                                                      </xs:sequence>
                                                                                    </xs:complexType>
                                                                                  </xs:element>
                                                                                </xs:sequence>
                                                                              </xs:complexType>
                                                                            </xs:element>
                                                                          </xs:sequence>
                                                                        </xs:complexType>
                                                                      </xs:element>
                                                                    </xs:sequence>
                                                                  </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="t" type="xs:string" />
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                          <xs:element name="methodDeclarator">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="t" type="xs:string" />
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="methodBody">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="block">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:choice maxOccurs="unbounded">
                                                                  <xs:element name="t" type="xs:string" />
                                                                  <xs:element name="blockStatements">
                                                                    <xs:complexType>
                                                                      <xs:sequence>
                                                                        <xs:element maxOccurs="unbounded" name="blockStatement">
                                                                          <xs:complexType>
                                                                            <xs:sequence>
                                                                              <xs:element minOccurs="0" name="statement">
                                                                                <xs:complexType>
                                                                                  <xs:sequence>
                                                                                    <xs:element name="statementWithoutTrailingSubstatement">
                                                                                      <xs:complexType>
                                                                                        <xs:sequence>
                                                                                          <xs:element minOccurs="0" name="returnStatement">
                                                                                            <xs:complexType>
                                                                                              <xs:sequence>
                                                                                                <xs:choice maxOccurs="unbounded">
                                                                                                  <xs:element name="t" type="xs:string" />
                                                                                                  <xs:element name="expression">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="assignmentExpression">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="conditionalExpression">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="conditionalOrExpression">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element name="conditionalAndExpression">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element name="inclusiveOrExpression">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                      <xs:element name="exclusiveOrExpression">
                                                                                                                                        <xs:complexType>
                                                                                                                                          <xs:sequence>
                                                                                                                                            <xs:element name="andExpression">
                                                                                                                                              <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                  <xs:element name="equalityExpression">
                                                                                                                                                    <xs:complexType>
                                                                                                                                                      <xs:sequence>
                                                                                                                                                        <xs:element name="relationalExpression">
                                                                                                                                                          <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                              <xs:element name="shiftExpression">
                                                                                                                                                                <xs:complexType>
                                                                                                                                                                  <xs:sequence>
                                                                                                                                                                    <xs:element name="additiveExpression">
                                                                                                                                                                      <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                          <xs:element name="additiveExpression">
                                                                                                                                                                            <xs:complexType>
                                                                                                                                                                              <xs:sequence>
                                                                                                                                                                                <xs:element name="multiplicativeExpression">
                                                                                                                                                                                  <xs:complexType>
                                                                                                                                                                                    <xs:sequence>
                                                                                                                                                                                      <xs:element name="unaryExpression">
                                                                                                                                                                                        <xs:complexType>
                                                                                                                                                                                          <xs:sequence>
                                                                                                                                                                                            <xs:element name="unaryExpressionNotPlusMinus">
                                                                                                                                                                                              <xs:complexType>
                                                                                                                                                                                                <xs:sequence>
                                                                                                                                                                                                  <xs:element name="postfixExpression">
                                                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                                                      <xs:sequence>
                                                                                                                                                                                                        <xs:element name="expressionName">
                                                                                                                                                                                                          <xs:complexType>
                                                                                                                                                                                                            <xs:sequence>
                                                                                                                                                                                                              <xs:element name="t" type="xs:string" />
                                                                                                                                                                                                            </xs:sequence>
                                                                                                                                                                                                          </xs:complexType>
                                                                                                                                                                                                        </xs:element>
                                                                                                                                                                                                      </xs:sequence>
                                                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                                                  </xs:element>
                                                                                                                                                                                                </xs:sequence>
                                                                                                                                                                                              </xs:complexType>
                                                                                                                                                                                            </xs:element>
                                                                                                                                                                                          </xs:sequence>
                                                                                                                                                                                        </xs:complexType>
                                                                                                                                                                                      </xs:element>
                                                                                                                                                                                    </xs:sequence>
                                                                                                                                                                                  </xs:complexType>
                                                                                                                                                                                </xs:element>
                                                                                                                                                                              </xs:sequence>
                                                                                                                                                                            </xs:complexType>
                                                                                                                                                                          </xs:element>
                                                                                                                                                                          <xs:element name="t" type="xs:string" />
                                                                                                                                                                          <xs:element name="multiplicativeExpression">
                                                                                                                                                                            <xs:complexType>
                                                                                                                                                                              <xs:sequence>
                                                                                                                                                                                <xs:element name="unaryExpression">
                                                                                                                                                                                  <xs:complexType>
                                                                                                                                                                                    <xs:sequence>
                                                                                                                                                                                      <xs:element name="unaryExpressionNotPlusMinus">
                                                                                                                                                                                        <xs:complexType>
                                                                                                                                                                                          <xs:sequence>
                                                                                                                                                                                            <xs:element name="postfixExpression">
                                                                                                                                                                                              <xs:complexType>
                                                                                                                                                                                                <xs:sequence>
                                                                                                                                                                                                  <xs:element name="expressionName">
                                                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                                                      <xs:sequence>
                                                                                                                                                                                                        <xs:element name="t" type="xs:string" />
                                                                                                                                                                                                      </xs:sequence>
                                                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                                                  </xs:element>
                                                                                                                                                                                                </xs:sequence>
                                                                                                                                                                                              </xs:complexType>
                                                                                                                                                                                            </xs:element>
                                                                                                                                                                                          </xs:sequence>
                                                                                                                                                                                        </xs:complexType>
                                                                                                                                                                                      </xs:element>
                                                                                                                                                                                    </xs:sequence>
                                                                                                                                                                                  </xs:complexType>
                                                                                                                                                                                </xs:element>
                                                                                                                                                                              </xs:sequence>
                                                                                                                                                                            </xs:complexType>
                                                                                                                                                                          </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                      </xs:complexType>
                                                                                                                                                                    </xs:element>
                                                                                                                                                                  </xs:sequence>
                                                                                                                                                                </xs:complexType>
                                                                                                                                                              </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                          </xs:complexType>
                                                                                                                                                        </xs:element>
                                                                                                                                                      </xs:sequence>
                                                                                                                                                    </xs:complexType>
                                                                                                                                                  </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                              </xs:complexType>
                                                                                                                                            </xs:element>
                                                                                                                                          </xs:sequence>
                                                                                                                                        </xs:complexType>
                                                                                                                                      </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                  </xs:sequence>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:choice>
                                                                                              </xs:sequence>
                                                                                            </xs:complexType>
                                                                                          </xs:element>
                                                                                          <xs:element minOccurs="0" name="expressionStatement">
                                                                                            <xs:complexType>
                                                                                              <xs:sequence>
                                                                                                <xs:element name="statementExpression">
                                                                                                  <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                      <xs:element name="methodInvocation">
                                                                                                        <xs:complexType>
                                                                                                          <xs:sequence>
                                                                                                            <xs:element name="typeName">
                                                                                                              <xs:complexType>
                                                                                                                <xs:sequence>
                                                                                                                  <xs:element name="t" type="xs:string" />
                                                                                                                </xs:sequence>
                                                                                                              </xs:complexType>
                                                                                                            </xs:element>
                                                                                                            <xs:element maxOccurs="unbounded" name="t" type="xs:string" />
                                                                                                          </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                      </xs:element>
                                                                                                    </xs:sequence>
                                                                                                  </xs:complexType>
                                                                                                </xs:element>
                                                                                                <xs:element name="t" type="xs:string" />
                                                                                              </xs:sequence>
                                                                                            </xs:complexType>
                                                                                          </xs:element>
                                                                                        </xs:sequence>
                                                                                      </xs:complexType>
                                                                                    </xs:element>
                                                                                  </xs:sequence>
                                                                                </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element minOccurs="0" name="localVariableDeclarationStatement">
                                                                                <xs:complexType>
                                                                                  <xs:sequence>
                                                                                    <xs:element name="localVariableDeclaration">
                                                                                      <xs:complexType>
                                                                                        <xs:sequence>
                                                                                          <xs:element name="unannType">
                                                                                            <xs:complexType>
                                                                                              <xs:sequence>
                                                                                                <xs:element name="unannReferenceType">
                                                                                                  <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                      <xs:element name="unannClassOrInterfaceType">
                                                                                                        <xs:complexType>
                                                                                                          <xs:sequence>
                                                                                                            <xs:element name="unannClassType_lfno_unannClassOrInterfaceType">
                                                                                                              <xs:complexType>
                                                                                                                <xs:sequence>
                                                                                                                  <xs:element name="t" type="xs:string" />
                                                                                                                </xs:sequence>
                                                                                                              </xs:complexType>
                                                                                                            </xs:element>
                                                                                                          </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                      </xs:element>
                                                                                                    </xs:sequence>
                                                                                                  </xs:complexType>
                                                                                                </xs:element>
                                                                                              </xs:sequence>
                                                                                            </xs:complexType>
                                                                                          </xs:element>
                                                                                          <xs:element name="variableDeclaratorList">
                                                                                            <xs:complexType>
                                                                                              <xs:sequence>
                                                                                                <xs:element name="variableDeclarator">
                                                                                                  <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                      <xs:element name="variableDeclaratorId">
                                                                                                        <xs:complexType>
                                                                                                          <xs:sequence>
                                                                                                            <xs:element name="t" type="xs:string" />
                                                                                                          </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="t" type="xs:string" />
                                                                                                      <xs:element name="variableInitializer">
                                                                                                        <xs:complexType>
                                                                                                          <xs:sequence>
                                                                                                            <xs:element name="expression">
                                                                                                              <xs:complexType>
                                                                                                                <xs:sequence>
                                                                                                                  <xs:element name="assignmentExpression">
                                                                                                                    <xs:complexType>
                                                                                                                      <xs:sequence>
                                                                                                                        <xs:element name="conditionalExpression">
                                                                                                                          <xs:complexType>
                                                                                                                            <xs:sequence>
                                                                                                                              <xs:element name="conditionalOrExpression">
                                                                                                                                <xs:complexType>
                                                                                                                                  <xs:sequence>
                                                                                                                                    <xs:element name="conditionalAndExpression">
                                                                                                                                      <xs:complexType>
                                                                                                                                        <xs:sequence>
                                                                                                                                          <xs:element name="inclusiveOrExpression">
                                                                                                                                            <xs:complexType>
                                                                                                                                              <xs:sequence>
                                                                                                                                                <xs:element name="exclusiveOrExpression">
                                                                                                                                                  <xs:complexType>
                                                                                                                                                    <xs:sequence>
                                                                                                                                                      <xs:element name="andExpression">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                          <xs:sequence>
                                                                                                                                                            <xs:element name="equalityExpression">
                                                                                                                                                              <xs:complexType>
                                                                                                                                                                <xs:sequence>
                                                                                                                                                                  <xs:element name="relationalExpression">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                      <xs:sequence>
                                                                                                                                                                        <xs:element name="shiftExpression">
                                                                                                                                                                          <xs:complexType>
                                                                                                                                                                            <xs:sequence>
                                                                                                                                                                              <xs:element name="additiveExpression">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                  <xs:sequence>
                                                                                                                                                                                    <xs:element name="multiplicativeExpression">
                                                                                                                                                                                      <xs:complexType>
                                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                                          <xs:element name="unaryExpression">
                                                                                                                                                                                            <xs:complexType>
                                                                                                                                                                                              <xs:sequence>
                                                                                                                                                                                                <xs:element name="unaryExpressionNotPlusMinus">
                                                                                                                                                                                                  <xs:complexType>
                                                                                                                                                                                                    <xs:sequence>
                                                                                                                                                                                                      <xs:element name="postfixExpression">
                                                                                                                                                                                                        <xs:complexType>
                                                                                                                                                                                                          <xs:sequence>
                                                                                                                                                                                                            <xs:element name="primary">
                                                                                                                                                                                                              <xs:complexType>
                                                                                                                                                                                                                <xs:sequence>
                                                                                                                                                                                                                  <xs:element name="primaryNoNewArray_lfno_primary">
                                                                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                                                                      <xs:sequence>
                                                                                                                                                                                                                        <xs:element name="classInstanceCreationExpression_lfno_primary">
                                                                                                                                                                                                                          <xs:complexType>
                                                                                                                                                                                                                            <xs:sequence>
                                                                                                                                                                                                                              <xs:element maxOccurs="unbounded" name="t" type="xs:string" />
                                                                                                                                                                                                                            </xs:sequence>
                                                                                                                                                                                                                          </xs:complexType>
                                                                                                                                                                                                                        </xs:element>
                                                                                                                                                                                                                      </xs:sequence>
                                                                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                                                                  </xs:element>
                                                                                                                                                                                                                </xs:sequence>
                                                                                                                                                                                                              </xs:complexType>
                                                                                                                                                                                                            </xs:element>
                                                                                                                                                                                                          </xs:sequence>
                                                                                                                                                                                                        </xs:complexType>
                                                                                                                                                                                                      </xs:element>
                                                                                                                                                                                                    </xs:sequence>
                                                                                                                                                                                                  </xs:complexType>
                                                                                                                                                                                                </xs:element>
                                                                                                                                                                                              </xs:sequence>
                                                                                                                                                                                            </xs:complexType>
                                                                                                                                                                                          </xs:element>
                                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                                      </xs:complexType>
                                                                                                                                                                                    </xs:element>
                                                                                                                                                                                  </xs:sequence>
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                              </xs:element>
                                                                                                                                                                            </xs:sequence>
                                                                                                                                                                          </xs:complexType>
                                                                                                                                                                        </xs:element>
                                                                                                                                                                      </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                  </xs:element>
                                                                                                                                                                </xs:sequence>
                                                                                                                                                              </xs:complexType>
                                                                                                                                                            </xs:element>
                                                                                                                                                          </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                      </xs:element>
                                                                                                                                                    </xs:sequence>
                                                                                                                                                  </xs:complexType>
                                                                                                                                                </xs:element>
                                                                                                                                              </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                          </xs:element>
                                                                                                                                        </xs:sequence>
                                                                                                                                      </xs:complexType>
                                                                                                                                    </xs:element>
                                                                                                                                  </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                              </xs:element>
                                                                                                                            </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                        </xs:element>
                                                                                                                      </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                  </xs:element>
                                                                                                                </xs:sequence>
                                                                                                              </xs:complexType>
                                                                                                            </xs:element>
                                                                                                          </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                      </xs:element>
                                                                                                    </xs:sequence>
                                                                                                  </xs:complexType>
                                                                                                </xs:element>
                                                                                              </xs:sequence>
                                                                                            </xs:complexType>
                                                                                          </xs:element>
                                                                                        </xs:sequence>
                                                                                      </xs:complexType>
                                                                                    </xs:element>
                                                                                    <xs:element name="t" type="xs:string" />
                                                                                  </xs:sequence>
                                                                                </xs:complexType>
                                                                              </xs:element>
                                                                            </xs:sequence>
                                                                          </xs:complexType>
                                                                        </xs:element>
                                                                      </xs:sequence>
                                                                    </xs:complexType>
                                                                  </xs:element>
                                                                </xs:choice>
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>